
      <div class="col-xs-12">
        <div>














<p class="MsoNormal" align="center" style="text-align:left"><b>Exhibit 10.1a&#xA0;</b></p>

<p class="MsoNormal" align="center" style="text-align:center"><b>&#xA0;</b></p>









<p class="MsoNormal" align="center"><b><a href="/company/820067/summit-bank" id="cik820067">SUMMIT BANK</a> CORPORATION</b></p>

<p class="MsoNormal" style="text-align:center"><b><a href="/contracts/tagged/stock-option-agreement" id="stock-option-agreement">STOCK OPTION AGREEMENT</a></b></p>







<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; THIS <a href="/contracts/tagged/stock-option-agreement" id="stock-option-agreement">STOCK OPTION AGREEMENT</a> is entered into as of
the _______ day of _________ , by and between&#xA0; <a href="/company/820067/summit-bank" id="cik820067">SUMMIT BANK</a>
CORPORATION, a <a href="/contracts/tagged/georgia" id="georgia">Georgia</a> corporation (hereinafter referred to as the &quot;Company&quot;), and ___________ (hereinafter referred to as the &quot;Employee&quot;).</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; On March 2, 1998, the Board of Directors of the Company adopted a stock
option plan known as the Company&apos;s &quot;1998 Stock Incentive Plan&quot;
(hereinafter referred to as the &quot;Plan&quot;). The Committee responsible
for administering the Plan has granted the Employee an option to purchase the
number of shares of the Company&apos;s Stock as hereinafter set forth.&#xA0; The Company
and the Employee desire to enter into a written agreement with respect to such
Option in accordance with the Plan.&#xA0; Therefore, as an employment incentive to
Employee and to encourage stock ownership in the Company, and also in
consideration of the mutual covenants contained herein, the Company and the
Employee agree as follows:</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 1.&#xA0; <u>Grant of Option</u>.&#xA0; Subject to the terms,
restrictions, limitations and conditions stated herein, this Agreement
evidences the grant to the Employee on __________________ (the
&quot;Date of Grant&quot;) of the right and option (hereinafter referred to as
the &quot;Option&quot;), to &#xA0;purchase &#xA0;all &#xA0;or &#xA0;any &#xA0;part &#xA0;of an aggregate of ___________________ shares of the Company&apos;s $.01 par value
common stock (the &quot;Stock&quot;).&#xA0; The Option shall expire and is not
exercisable on or after the first to occur of (1) _________________ or
(2) such earlier date as determined pursuant to <u>Section 5</u> hereof.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 2.&#xA0; <u>Purchase Price</u>.&#xA0; The price per share to
be paid by the Employee for the shares subject to the Option (the &quot;Option
Price&quot;) shall be _______, the <u>closing</u> market price as of ________________,
which price, in the case of an Incentive Stock Option, is an amount not less
than the Fair Market Value of the Stock on the Date of Grant.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 3.&#xA0; <u>Type of Option</u>.&#xA0; The Option is intended
to be an Incentive Stock Option.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 4.&#xA0; <u>Incorporation of Plan</u>.&#xA0; The Option is
granted pursuant to the provisions of the Plan and the terms and definitions of and this in source as well
the Plan are incorporated herein by reference and made a part hereof.&#xA0; A copy
of the Plan has been delivered to, and receipt of such copy is hereby
acknowledged by, the Employee.</p>











<div class="MsoNormal" align="center" style="text-align:center">

<hr size="2" width="100%" noshade="" color="navy" align="center">

</div>



<br clear="all" style="page-break-before:always">










<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 5.&#xA0; <u>Exercise Terms</u>.&#xA0; The Option shall be
exercisable with respect to all of the shares of Stock on and after _______________,
unless the Company gives its prior written consent to an exercise at any other
time.&#xA0; The Option shall expire at the close of business on _______________.
The Employee must exercise the Option for at least the lesser of 25 shares or
the vested and unexercised portion of the Option.&#xA0; If the Option is not
exercised with respect to all or any part of the shares subject to the Option
prior to its expiration, the shares with respect to which the Option was not
exercised shall no longer be subject to this Option.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 6.&#xA0; <u>Option Non-Transferable</u>.&#xA0; The Option and
all rights hereunder are neither assignable nor transferable by the Employee,
and during the Employee&apos;s lifetime the Option is exercisable only by him.&#xA0; More
particularly (but without limiting the generality of the foregoing), the Option
may not be assigned, transferred (except as aforesaid), pledged or hypothecated
in any way (whether by operation of law or otherwise) and shall not be subject
to execution, attachment or similar process.&#xA0; Any attempted assignment,
transfer, pledge, hypothecation or other disposition of the Option contrary to
the provisions hereof shall be null and void and without legal effect.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 7.&#xA0; <u>Notice of Exercise of Option</u>.&#xA0; The
Option may be exercised by the Employee, or by Employee&apos;s administrator,
executor or personal representative, by a written notice (in substantially the
form of the &quot;Notice of Exercise&quot; attached hereto as (<u>Exhibit A</u>)
signed by the Employee, or by Employee&apos;s administrator, executor or personal
representative, and delivered or mailed to the Company at its principal office,
to the attention of the President or such other officer as the Company may designate.&#xA0;
Any such notice shall (a) specify the number of shares of Stock which the
Employee, or Employee&apos;s administrator, executor or personal representative,
then elects to purchase hereunder, (b) contain the representation as required
by <u>Section 11</u> hereof, and (c) be accompanied by (i) a certified or
cashier&apos;s check payable to the Company in payment of the total Option Price
applicable to such shares as provided herein, or (ii) shares of Stock, owned by
the person exercising the Option and duly endorsed or accompanied by stock
transfer powers, having a Fair Market Value equal to the total Option Price
applicable to such shares purchased hereunder, or (iii) a certified or
cashier&apos;s check, and the number of shares of Stock whose Fair Market Value when
added to the amount of the check equals the total Option Price applicable to
such shares purchased hereunder.&#xA0; Upon receipt of any such notice and
accompanying payment, and subject to the terms hereof and of the Plan, the
Company agrees to cause to be issued to the Employee, or Employee&apos;s
administrator, executor or personal representative, stock certificates for the
number of shares specified in such notice registered in the name of the person
exercising the Option.</p>







<p class="MsoNormal" style="text-align:center">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; -2-</p>





<div class="MsoNormal" align="center" style="text-align:center">

<hr size="2" width="100%" noshade="" color="navy" align="center">

</div>



<br clear="all" style="page-break-before:always">








<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 8.&#xA0; <u>Adjustment in Option</u>.&#xA0; If, between the
Date of Grant of the Option and the complete exercise thereof, there shall be a
change in the outstanding Stock by reason of one or more corporate
reorganizations, stock splits, stock dividends, combinations or exchanges of
shares, recapitalizations or similar capital adjustments, then the Committee
will, in accordance with the terms of the Plan, equitably adjust the number,
kind and Option Price of the shares remaining subject to the Option.&#xA0; Such
adjustments shall be made in a manner that will not cause any Incentive Stock
Option to cease to be an Incentive Stock Option.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 9.&#xA0; <u>Termination of Employment</u>.&#xA0; If the
Employee&apos;s employment with the Company, or any Parent or Subsidiary of the
Company, terminates for any reason other than for cause, the Option shall
terminate and expire and shall not be exercisable after the 180th day following
the effective date of the Employee&apos;s termination of employment.&#xA0; In the event
of termination of the Employee&apos;s employment with the Company, or any Parent or
Subsidiary of the Company, for cause, the Option shall terminate and expire
immediately and shall not be exercisable thereafter, unless otherwise decided
by the Committee.&#xA0; For purposes of the <u>Section 9,</u> the term
&quot;cause&quot; shall mean any act or failure to act that (i) constitutes a
violation of the laws of the United States of America, or any state, territory or possession of
such country, or (ii) involves moral turpitude.&#xA0; This Option does not confer
upon the Employee any right with respect to continuance of employment by the
Company or by any Parent or Subsidiary of the Company.&#xA0; This Option shall not
be affected by any change of employment so long as the Employee continues to be
an employee of the Company or any Parent or Subsidiary of the Company.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 10.&#xA0; <u>Compliance with Bank Regulatory Matters</u>.&#xA0;
Employee acknowledges that the issuance of capital stock of the Company is
subject to regulation under the laws of the United States and certain other
jurisdictions and Employee hereby agrees that the Company shall not be obligated
to issue any share of Stock upon exercise of this Option that would cause the
Company to violate any rules, regulations, orders or consents decrees of any
such regulatory authority having jurisdiction over the affairs of the Company.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 11.&#xA0; <u>Compliance with Securities Laws</u>.&#xA0; If
required by the Company, and solely for the purpose of enabling the Company to
comply with the Securities Act of 1933, as amended, and any applicable state
securities laws, at any time of exercise of this Option, in whole or in part,
the Employee agrees to deliver to the Company an appropriate representation
prepared by legal counsel for the Company stating that Employee is purchasing
the shares to be issued upon the exercise of the Option for investment purposes
for Employee&apos;s own account and not with any present intention to resell </p>





<p class="MsoNormal" style="text-align:center">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; -3-</p>



<div class="MsoNormal" align="center" style="text-align:center">

<hr size="2" width="100%" noshade="" color="navy" align="center">

</div>



<br clear="all" style="page-break-before:always">










<p class="MsoNormal" style="text-align:justify">or distribute such shares, and such other restrictions
as legal counsel for the company advises are necessary to comply with any state
or federal securities law requirements, and the Employee agrees that the
certificates for such shares to be delivered to Employee may contain
restrictive legends to this effect.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; 12.&#xA0; <u>Miscellaneous</u>.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (a)&#xA0; This Agreement shall be binding upon the
parties hereto and their administrators, executors, personal representatives,
successors and permitted assigns.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (b)&#xA0; This Agreement is executed and delivered
in, and shall be governed by the laws of, the State of <a href="/contracts/tagged/georgia" id="georgia">Georgia</a>.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (c)&#xA0; Any requests or notices to be given
hereunder shall be deemed given, and any elections or exercises to be made or
accomplished shall be deemed made or accomplished, upon actual delivery thereof
to the designated recipient, or three (3) days after deposit thereof in postage
prepaid United States certified or registered mail, return receipt requested,
addressed, if to the Employee, to the address set forth below, and if to the
Company, to the executive offices of the Company at 4360 Chamblee Dunwoody
Road, Atlanta, <a href="/contracts/tagged/georgia" id="georgia">Georgia</a> 30341, Attention: President.&#xA0; Either the Company or the
Employee may change the address to which requests or notices shall be sent by
sending written notice, in the manner described in the preceding sentence, to
the other of the new address to which requests or notices should be sent, and
the party so notified shall send all future requests and notices to such new
address.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (d)&#xA0; This Agreement may not be modified except
in writing executed by each of the parties hereto.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (e)&#xA0; Whenever the context so requires, nouns
in the singular shall include the plural, and the masculine pronoun shall
include or mean the feminine gender.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; (f)&#xA0; This Agreement contains the entire
agreement of the parties and supersedes all prior agreements and
understandings, oral or written, with respect to the subject matter hereof.</p>

<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;</p>



<p class="MsoNormal" style="text-align:center">&#xA0;-4-</p>







<div class="MsoNormal" align="center" style="text-align:center">

<hr size="2" width="100%" noshade="" color="navy" align="center">

</div>



<br clear="all" style="page-break-before:always">






<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; </p>

<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; IN WITNESS WHEREOF, the Company has caused this
<a href="/contracts/tagged/stock-option-agreement" id="stock-option-agreement">Stock Option Agreement</a> to be executed on its behalf, and the Employee has
executed this <a href="/contracts/tagged/stock-option-agreement" id="stock-option-agreement">Stock Option Agreement</a>, on ___________________.&#xA0;&#xA0; </p>

<p class="MsoNormal" style="text-align:justify">&#xA0;</p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>ATTEST:</b>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; <b><a href="/company/820067/summit-bank" id="cik820067">SUMMIT BANK</a> CORPORATION</b></p>







<p class="MsoNormal">__________________________&#xA0;&#xA0; &#xA0;
_____________________________</p>



<p class="MsoNormal" align="left">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
Secretary&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; &#xA0;Its _____________________________</p>



<p class="MsoNormal" style="text-align:justify">(Corporate Seal)</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; </p>

<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; <b>EMPLOYEE</b></p>









<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; <u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</u>(SEAL)</p>



<p class="MsoNormal">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
&#xA0;&#xA0;Name:&#xA0;&#xA0;&#xA0;  ________________________&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</p>

<p class="MsoNormal">
&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
&#xA0;Address: ________________________</p>

<p class="MsoNormal">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
_______________________</p>

































<p class="MsoNormal" style="text-align:center">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; -5-</p>

<hr size="2" width="100%" noshade="" color="navy" align="center">

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; EXHIBIT &apos;A&apos;</b></p>



<div class="MsoNormal" align="center" style="text-align:center">



</div>



<br clear="all" style="page-break-before:always">










<p class="MsoNormal" style="text-align:justify"><b>&#xA0;</b></p>

<p class="MsoNormal" style="text-align:justify"><b>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; NOTICE OF EXERCISE</b></p>





<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; I hereby notify <a href="/company/820067/summit-bank" id="cik820067">Summit Bank</a> Corporation (the
&quot;Company&quot;) of my election to exercise the option to purchase <u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</u>&#xA0;(<u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
</u>) shares of the Company&apos;s $.01 par value common stock pursuant to the <a href="/contracts/tagged/stock-option-agreement" id="stock-option-agreement">Stock
Option Agreement</a> (&quot;the Agreement&quot;) between me and the Company dated<u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
</u>, 20<u>&#xA0; </u>.&#xA0; Accompanying this Notice is a certified or a cashier&apos;s
check in the amount of </p>

<p class="MsoNormal" style="text-align:justify">$<u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; </u>, such amounts being equal, in
the aggregate, to the purchase price per share set forth in Section 2 of the
Agreement multiplied by the number of said shares being hereby purchased (in
each instance subject to appropriate adjustment pursuant to Section 8 of the
Agreement).</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; I am purchasing the shares described in this Notice
for investment purposes for my own account and not with any present intention
to resell or dispose of such shares or otherwise to participate directly or
indirectly in distribution thereof.&#xA0; I agree that all certificates representing
said shares may be stamped with any restrictive legend that the Company deems
necessary.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; I am a resident of the State of <u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</u>.</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0; EXECUTED under seal on <u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;</u>,
20<u>&#xA0; </u>.</p>





<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; <b>EMPLOYEE:</b></p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; Name (Signature:)<u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
</u>&#xA0;(SEAL)</p>



<p class="MsoNormal" style="text-align:justify">&#xA0;&#xA0; &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;Name (Print:)<u>&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
</u></p>



























<div class="MsoNormal" align="center" style="text-align:center">

<hr size="2" width="100%" noshade="" color="navy" align="center">

</div>









</div>
      </div>
    