
      <div class="col-xs-12">
        <div>

    
    
    
    


<div>&#xA0;</div>

<div>
<div style="TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="right"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">Exhibit 4.28</font></div>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="center"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">SIXTH <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">SUPPLEMENTAL INDENTURE</a></font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">SIXTH <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">SUPPLEMENTAL INDENTURE</a>, dated as of September 17, 2013 (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a></font><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman CE, serif">&#x201D;), by and among Przedsi&#x119;biorstwo Farmaceutyczne Jelfa S.A. </font><font style="DISPLAY: inline">(</font>&#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Jelfa</font>&#x201D;),<font style="DISPLAY: inline"> Valeant Europe B.V. (</font>&#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">VEBV</font>&#x201D;),<font style="DISPLAY: inline">&#xA0;</font>Valeant Pharmaceuticals International, Inc., a corporation continued under the British Columbia <font style="FONT-STYLE: italic; DISPLAY: inline">Business Corporations Act</font> (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Company</font>&#x201D;), and The Bank of <a href="/contracts/tagged/new-york" id="new-york">New York</a> Mellon Trust Company, N.A., a national banking association, as trustee (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Trustee</font>&#x201D;).</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div id="jqSimpleConnect_0" style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">WHEREAS, VPII Escrow Corp., a corporation organized under the federal laws of Canada (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Escrow Issuer</font>&#x201D;), has heretofore executed and delivered to the Trustee an Indenture, dated as of July 12, 2013 (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Indenture</font>&#x201D;), providing for the issuance of the Escrow Issuer&#x2019;s 6.75% Senior Notes due 2018 (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">2018 Notes</font>&#x201D;) and 7.50% Senior Notes due 2021 (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">2021 Notes</font>&#x201D; and, together with the 2018 Notes, the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Securities</font>&#x201D;);</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">WHEREAS, Jelfa desires to provide a full and unconditional guarantee (the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Jelfa</font> <font style="DISPLAY: inline; TEXT-DECORATION: underline">Guarantee</font>&#x201D;) of the obligations of the Company under the Securities and the Indenture on the terms and conditions set forth herein;</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">WHEREAS, VEBV desires to provide a full and unconditional guarantee (together with the Jelfa Guarantee, the &#x201C;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Guarantee</font>&#x201D;) of the obligations of the Company under the Securities and the Indenture on the terms and conditions set forth herein;</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">WHEREAS, pursuant to Section 9.1 of the Indenture, the Company, the Trustee, Jelfa and VEBV are authorized to execute and deliver this Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a>; and</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">&#xA0;WHEREAS, the Company has complied with all conditions precedent provided for in the Indenture relating to the Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a>.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div id="jqSimpleConnect_1" style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">NOW THEREFORE, in consideration of the foregoing and for other good and valuable consideration, the receipt of which is hereby acknowledged, the parties hereto mutually covenant and agree for the equal and ratable benefit of the Holders as follows:</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">1.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Definitions</font>.&#xA0;&#xA0;Capitalized terms used but not defined herein have the meanings ascribed to such terms in the Indenture.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">2.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Guarantee</font>.&#xA0;&#xA0;Jelfa and VEBV hereby agree, jointly and severally, to provide a full and unconditional guarantee on the terms and subject to the conditions set forth in the Note Guarantee and in the Indenture including, but not limited to, Article 10 thereof.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">3.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Effectiveness of Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a></font>.&#xA0;&#xA0;This Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a> shall become effective upon the execution and delivery of this Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a> by the Company, Jelfa, VEBV and the Trustee.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">4.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Indenture Remains in Full Force and Effect</font>.&#xA0;&#xA0;This Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a> <a name="anchor1"></a>shall form a part of the Indenture for all purposes and, except as supplemented or amended hereby, all other provisions in the Indenture and the Securities, to the extent not inconsistent with the terms and provisions of this Sixth <a href="/contracts/tagged/supplemental-indenture" id="supplemental-indenture">Supplemental Indenture</a>, shall remain in full force and effect.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<br>
<div id="PGBRK" style="TEXT-INDENT: 0pt; WIDTH: 100%; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div id="FTR">
<div id="GLFTR" style="WIDTH: 100%" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>

<div id="PN" style="PAGE-BREAK-AFTER: always; WIDTH: 100%">
<div style="TEXT-ALIGN: center; WIDTH: 100%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">1</font></div>

<div style="TEXT-ALIGN: center; WIDTH: 100%">
<hr style="COLOR: black" noshade="" size="2">
</div>
</div>

<div id="HDR">
<div id="GLHDR" style="WIDTH: 100%" align="right"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>
</div>

<br>
<div style="LINE-HEIGHT: 14.4pt; TEXT-INDENT: 0pt; DISPLAY: block">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">5.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">No Recourse Against Others</font>.&#xA0;&#xA0;No stockholder, officer, director or incorporator, as such, past, present or future of Jelfa or VEBV shall have any personal liability under this Guarantee, the Securities, the Indenture or this Sixth Supplemental Indenture by reason of his, her or its status as such stockholder, officer, director or incorporator.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">6.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Headings</font>.&#xA0;&#xA0;The headings of the Articles and Sections of this Sixth Supplemental Indenture are inserted for convenience of reference and shall not be deemed a part thereof.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">7.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Counterparts.</font>&#xA0;&#xA0;This Sixth Supplemental Indenture may be executed in any number of counterparts, each of which so executed shall be deemed to be an original, but all such counterparts shall together constitute but one and the same instrument.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">8.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Governing Law</font>.&#xA0;&#xA0;This Sixth Supplemental Indenture shall be governed by, and construed in accordance with, the laws of the State of <a href="/contracts/tagged/new-york" id="new-york">New York</a>, without regard to principles of conflicts of laws.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">9.&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;<font style="DISPLAY: inline; TEXT-DECORATION: underline">Trustee Disclaimer</font>.&#xA0;&#xA0;<a name="anchor2"></a>The Trustee is not responsible for the validity or sufficiency of this Sixth Supplemental Indenture nor for the recitals herein.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="center"><font style="FONT-STYLE: italic; DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">[Intentionally Left Blank]</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<br>
<div id="PGBRK" style="TEXT-INDENT: 0pt; WIDTH: 100%; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div id="FTR">
<div id="GLFTR" style="WIDTH: 100%" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>

<div id="PN" style="PAGE-BREAK-AFTER: always; WIDTH: 100%">
<div style="TEXT-ALIGN: center; WIDTH: 100%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">2</font></div>

<div style="TEXT-ALIGN: center; WIDTH: 100%">
<hr style="COLOR: black" noshade="" size="2">
</div>
</div>

<div id="HDR">
<div id="GLHDR" style="WIDTH: 100%" align="right"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>
</div>

<br>
<div style="LINE-HEIGHT: 0pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div id="jqSimpleConnect_2" style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 72pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">IN WITNESS WHEREOF, the parties hereto have caused this Sixth Supplemental Indenture to be duly executed as of the day and year first written above.</font></div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div>
<table cellpadding="0" cellspacing="0" width="100%" style="FONT-SIZE: 10pt; FONT-FAMILY: times new roman">
<tr>
<td align="left" valign="top" width="19%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">Company:&#xA0; </font></div>
</td>
<td align="left" colspan="3" valign="top" width="81%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">VALEANT PHARMACEUTICALS INTERNATIONAL, INC.</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td colspan="2" valign="top" width="76%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">By:&#xA0; </font></div>
</td>
<td align="left" colspan="2" valign="top" width="76%" style="BORDER-BOTTOM: black 0.5pt solid">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">/s/ Howard B. Schiller</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Name:&#xA0; </font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Howard B. Schiller</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Title:</font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Executive Vice President and Chief Financial Officer]</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="71%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr></table>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><br>
</div>

<div>
<table cellpadding="0" cellspacing="0" width="100%" style="FONT-SIZE: 10pt; FONT-FAMILY: times new roman">
<tr>
<td align="left" valign="top" width="19%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">Jelfa:&#xA0; </font></div>
</td>
<td align="left" colspan="3" valign="top" width="81%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman CE, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">PRZEDSI&#x118;BIORSTWO FARMACEUTYCZNE JELFA S.A.</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td colspan="2" valign="top" width="76%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">By:&#xA0; </font></div>
</td>
<td align="left" colspan="2" valign="top" width="76%" style="BORDER-BOTTOM: black 0.5pt solid">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">/s/ Marcin Wnukowski</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Name:&#xA0; </font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Marcin Wnukowski</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Title:</font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Attorney-in-fact</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="71%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr></table>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div>
<table cellpadding="0" cellspacing="0" width="100%" style="FONT-SIZE: 10pt; FONT-FAMILY: times new roman">
<tr>
<td align="left" nowrap="" valign="top" width="19%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">VEBV:&#xA0; </font></div>
</td>
<td align="left" colspan="3" valign="top" width="81%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">VALEANT EUROPE B.V.</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td colspan="2" valign="top" width="76%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">By:&#xA0; </font></div>
</td>
<td align="left" colspan="2" valign="top" width="76%" style="BORDER-BOTTOM: black 0.5pt solid">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">/s/ Robert Meijer</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Name:&#xA0; </font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Robert Meijer</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Title:</font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Attorney-in-fact</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td colspan="2" valign="top" width="76%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr></table>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>
</div>

<div style="TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div style="LINE-HEIGHT: 11.4pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="center"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 10pt">[Signature Page to Sixth Supplemental Indenture to VPII Escrow July 2013 Indenture]</font></div>
</div>

<div style="TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
<div id="PGBRK" style="TEXT-INDENT: 0pt; WIDTH: 100%; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div id="FTR">
<div id="GLFTR" style="WIDTH: 100%" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>

<div id="PN" style="PAGE-BREAK-AFTER: always; WIDTH: 100%">
<div style="TEXT-ALIGN: center; WIDTH: 100%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>

<div style="TEXT-ALIGN: center; WIDTH: 100%">
<hr style="COLOR: black" noshade="" size="2">
</div>
</div>

<div id="HDR">
<div id="GLHDR" style="WIDTH: 100%" align="right"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 8pt">&#xA0; </font></div>
</div>
</div>

<br>
</div>
</div>

<div style="TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>
</div>

<div>
<table cellpadding="0" cellspacing="0" width="100%" style="FONT-SIZE: 10pt; FONT-FAMILY: times new roman">
<tr>
<td align="left" valign="top" width="19%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">Trustee:&#xA0; </font></div>
</td>
<td align="left" colspan="3" valign="top" width="81%">
<div style="LINE-HEIGHT: 11.95pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">THE BANK OF <a href="/contracts/tagged/new-york" id="new-york">NEW YORK</a> MELLON TRUST COMPANY, N.A.</font></div>

<div style="LINE-HEIGHT: 11.95pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold">as Trustee</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td colspan="2" valign="top" width="76%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">By:&#xA0; </font></div>
</td>
<td align="left" colspan="2" valign="top" width="76%" style="BORDER-BOTTOM: black 0.5pt solid">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">/s/ Teresa Petta</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" nowrap="" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Name:&#xA0; </font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Teresa Petta</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td align="left" valign="top" width="5%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Title:</font></div>
</td>
<td align="left" valign="top" width="71%">
<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="left"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 11pt">Authorized Signatory</font></div>
</td>
</tr><tr>
<td valign="top" width="19%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="5%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
<td valign="top" width="71%"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman; FONT-SIZE: 10pt">&#xA0; </font></td>
</tr></table>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block"><br>
</div>

<div style="LINE-HEIGHT: 12.55pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<div id="jqSimpleConnect_3" style="LINE-HEIGHT: 11.4pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="center"><font style="DISPLAY: inline; FONT-FAMILY: Times New Roman, serif; FONT-SIZE: 10pt">[Signature Page to Sixth Supplemental Indenture to VPII Escrow July 2013 Indenture]</font></div>

<div style="LINE-HEIGHT: 11.4pt; TEXT-INDENT: 0pt; DISPLAY: block; MARGIN-LEFT: 0pt; MARGIN-RIGHT: 0pt" align="justify">&#xA0;</div>

<br>
<br>
</div>

</div>
      </div>
    