﻿.header {
    height: 75px;
    line-height: 75px;
    background-color: #5a8fb8;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: 700;
    margin-bottom:15px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.compare-button{
    background-color: #5a8fb8; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

.ifrm{
    height:820px;
}
